---
// Data
import { basics } from '@cv';

// Typography
import TitleH2 from "@/components/Typography/TitleH2.astro";
import Text15 from "@/components/Typography/Text15.astro";

const { summary } = basics;
---

<section>
    <TitleH2 title="About" />
    <Text15 text={summary} marginBottom={0} />
</section>