---
import Layout from '@/layouts/Layout.astro';
import Intro from '@/components/sections/Intro.astro';
import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Education from '@/components/sections/Education.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/sections/KeyboardManager.astro';
---

<Layout title="Salvador Puche Ibáñez - CV">
	<main>
		<Intro />
		<About />
		<Experience />
		<Skills />
		<Education />
		<Projects />
	</main>
	<KeyboardManager />
</Layout>

<style>
	main{
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 12px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
</style>
