---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Hola mundo</h1>
	</main>
</Layout>

<style>
	main{
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 12px;
	}
</style>
