---
// Typography
import TitleH2 from "../Typography/TitleH2.astro";

const { title } = Astro.props;
---

<section>
  {title && <TitleH2 title={title} />}
  <slot />
</section>

<style>
  @media print {
    section {
      page-break-inside: avoid;
    }
  }
</style>
